---
---

@import "{{ site.theme }}";

#downloads {
  margin-bottom: 0px;
}
header {
    padding-top: 20px;
    padding-bottom: 0px;
}

.img_float_left {
    float: left;
    margin-right: 5px;
}
.img_float_right {
    float: right;
    margin-left: 5px;
}


